<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    "
    default-init-method="config"
>
    <import resource="spring-main-ktm.xml" />
    <import resource="spring-main-file2base.xml" />

    <bean id="batchKtmFile2Base" class="kkr.ktm.domains.orchestrator.components.batchktm.BatchKtm">
        <property name="testLoader" ref="testLoaderExcel" />
        <property name="testReporter" ref="testReporterExcel" />
        <property name="testLancer" ref="testLancerJobFile2Base" />
        <property name="trafficLights" ref="trafficLights" />
        <property name="sysPrefix" value="KTM" />
    </bean>

    <bean id="testLancerJobFile2Base" class="kkr.job.file2base.domains.test.components.testlancer.job.file2base.TestLancerJobFile2Base">
        <property name="batchJobFile2Base" ref="batchJobFile2Base" />
    </bean>

    <bean id="diffManagerFs" class="kkr.ktm.domains.common.components.diffmanager.filesystem.local.DiffManagerFilesystem">
        <property name="name" value="FS" />
        <property name="dirInfos">
            <list>
                <bean class="kkr.ktm.domains.common.components.diffmanager.filesystem.DirInfo">
                    <property name="name" value="INPUT" />
                    <property name="path" value="job/input" />
                    <property name="content" value="true" />
                </bean>
                <bean class="kkr.ktm.domains.common.components.diffmanager.filesystem.DirInfo">
                    <property name="name" value="OUTPUT" />
                    <property name="path" value="job/input" />
                    <property name="content" value="true" />
                </bean>
                <bean class="kkr.ktm.domains.common.components.diffmanager.filesystem.DirInfo">
                    <property name="name" value="ERROR" />
                    <property name="path" value="job/input" />
                    <property name="content" value="true" />
                </bean>
            </list>
        </property>
    </bean>

    <bean id="diffManagerDb" class="kkr.ktm.domains.common.components.diffmanager.databasetrigger.DiffManagerDatabaseTrigger">
        <property name="name" value="DB" />
        <property name="dateFormat" value="HH:mm:ss dd/MM/yyyy" />
        <property name="dataSource" ref="dataSource" />
        <property name="tableInfos">
            <list>
                <bean class="kkr.ktm.domains.common.components.diffmanager.databasetrigger.TableInfo" parent="tableInfoTrigger">
                    <property name="name" value="TABLE_DATA" />
                    <property name="ktmNamePrefix" value="KTM_" />
                    <property name="joinStatus" value="true" />
                    <property name="columnsPK">
                        <list>
                            <value>ID</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>
</beans>