<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    "
    default-init-method="config"
>
    <import resource="spring-inc-database.xml" />
    <import resource="spring-inc-job-file2base-data.xml" />
    <import resource="spring-inc-job-file2base-dependency.xml" />

    <bean abstract="true" id="batchJobFile2Base" class="kkr.job.file2base.batchs.file2base.BatchJobFile2Base">
        <property name="dirInput" value="job/input" />
        <property name="dirOutput" value="job/output" />
        <property name="dirError" value="job/error" />
        <property name="iterableInputFactory" ref="iterableInputFactoryCsv" />
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="iterableInputFactoryCsv" class="kkr.job.file2base.domains.common.components.iterableinput.csv.IterableInputFactoryCSVFile">
        <property name="hasHeader" value="true" />
    </bean>
</beans>