<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    "
    default-init-method="config"
>

    <bean id="dataSourceRte" class="kkr.common.components.datasource.jdbc.DataSourceJdbc">
        <property name="name" value="KKR" />
        <property name="driver" value="oracle.jdbc.OracleDriver" />
        <property name="schema" value="KKR" />
        <property name="password" value="kkr" />
        <property name="host" value="194.3.231.195" />
        <property name="port" value="1521" />
        <property name="instance" value="OINSDEV1" />
    </bean>

    <bean id="dataSource" class="kkr.common.components.datasource.jdbc.DataSourceJdbc">
        <property name="name" value="KTM" />
        <property name="driver" value="oracle.jdbc.OracleDriver" />
        <property name="schema" value="KTM" />
        <property name="password" value="ktm" />
        <property name="host" value="localhost" />
        <property name="port" value="1521" />
        <property name="instance" value="XE" />
    </bean>

</beans>
